.recipes_container {
  padding: 1rem 20%
}

.recipe_container {
  display: flex;
  flex-direction: column;
  border: grey 1px solid;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.recipe_name {
  align-self: center;
}

.recipe_person {
  align-self: center;
  font-style: italic;
}

.filters_container {
  display: flex;
}